# Dictionary in python

In [ ]:
#  Dictionary are mutable in python
  # different data types are acceptable in python

info = {
    "name": "hamza",
    "age": 20,
    "gender": "male",
    "is_adult": True,
    "skills": ["python", "java", "c++"],

}

print(info)
print(info["name"])
print(info["age"])
print(info["gender"])

{'name': 'hamza', 'age': 20, 'gender': 'male', 'is_adult': True, 'skills': ['python', 'java', 'c++']}
hamza
20
male

In [ ]:
student = {
     "name": "hamza",
     "age": 20,
     "gender": "male",
     "skills": ["python", "java", "c++"],
     "topics": ("Dict","set","tuple")
}

print(student)
print(student["skills"])

student["age"] = 21
print(student)

student["skills"].append("c#")
print(student)

null_dict = {}
null_dict["name"] = "hamza"
print(null_dict)

{'name': 'hamza', 'age': 20, 'gender': 'male', 'skills': ['python', 'java', 'c++'], 'topics': ('Dict', 'set', 'tuple')}
['python', 'java', 'c++']
{'name': 'hamza', 'age': 21, 'gender': 'male', 'skills': ['python', 'java', 'c++'], 'topics': ('Dict', 'set', 'tuple')}
{'name': 'hamza', 'age': 21, 'gender': 'male', 'skills': ['python', 'java', 'c++', 'c#'], 'topics': ('Dict', 'set', 'tuple')}
{'name': 'hamza'}

In [ ]:
# Nested dict
stu = {
    "name" : "Hamza",
    "age" : 21,
    "subjects":{
        "chem" : 98,
        "phy" : 97,
        "math" : 96,
    }
    }

print(stu)
print(stu["subjects"]["phy"])

{'name': 'Hamza', 'age': 21, 'subjects': {'chem': 98, 'phy': 97, 'math': 96}}
97

# Dictionary methods

In [ ]:
# .keys method (this method returns all keys)
student = {
     "name": "hamza",
     "age": 20,
     "gender": "male",
     "skills": ["python", "java", "c++"],
     "topics": ("Dict","set","tuple")
}
print(student.keys())

dict_keys(['name', 'age', 'gender', 'skills', 'topics'])

In [ ]:
# values method (this method returns all values)
student = {
     "name": "hamza",
     "age": 20,
     "gender": "male",
     "skills": ["python", "java", "c++"],
     "topics": ("Dict","set","tuple")
}

print(len(list(student.values()))) #print dict then casting in list then print a length

5

In [ ]:
# .items method (this method returns all key value pairs in dict)
student = {
     "name": "hamza",
     "age": 20,
     "gender": "male",
     "skills": ["python", "java", "c++"],
     "topics": ("Dict","set","tuple")
}
print(list(student.items()))

[('name', 'hamza'), ('age', 20), ('gender', 'male'), ('skills', ['python', 'java', 'c++']), ('topics', ('Dict', 'set', 'tuple'))]

In [ ]:
# get method (this method return the key according to value)
student = {
     "name": "hamza",
     "age": 20,
     "gender": "male",
     "skills": ["python", "java", "c++"],
     "topics": ("Dict","set","tuple")
}

# print(student["name2"]) #throw error
print(student.get("name2")) #print None  (always prefer on methods)
print(student.get("skills"))

None
['python', 'java', 'c++']

In [ ]:
# update method
student = {
     "name": "hamza",
     "age": 20,
     "gender": "male",
     "skills": ["python", "java", "c++"],
     "topics": ("Dict","set","tuple")
}
print(student)
student.update({"insitute":"PIAIC"})
print(student)

{'name': 'hamza', 'age': 20, 'gender': 'male', 'skills': ['python', 'java', 'c++'], 'topics': ('Dict', 'set', 'tuple')}
{'name': 'hamza', 'age': 20, 'gender': 'male', 'skills': ['python', 'java', 'c++'], 'topics': ('Dict', 'set', 'tuple'), 'insitute': 'PIAIC'}

# Set in python

In [ ]:
# set are mutable but its elements are immutable entered only unique values duplicate values are ignore in set
# allow in set -> strings , float, tuple, int (immutable types)
# not allow in set -> list, dict (mutable types)
# print unordered items

nums = {1,2,3,4,5,6,7,8,9,10}
print(nums)
# print(type(nums))

# empty set
null_set = set()
print(type(null_set))

collection = {"hello",1,"world",2,5,6,"python","hello"}
print(collection)
print(len(collection)) #length also ignore duplicates values

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>
{'hello', 1, 2, 5, 6, 'world', 'python'}
7

# Set methods

In [ ]:
# Set Methods

# add method

nums = {1,2,3,4,5,6,3,9,6,5}
nums.add(11)
print(nums)


names = {"hamza","waleed","asad","tariq","sharib","Muneeb"}
names.add("malaas")
print(names)

{1, 2, 3, 4, 5, 6, 9, 11}
{'Muneeb', 'waleed', 'tariq', 'asad', 'malaas', 'hamza', 'sharib'}

In [ ]:
# remove method

nums = {1,2,3,4,5,6,3,9,6,5}
nums.remove(3)
print(nums)

collection = {"hello",1,"world",2,5,6,"python","hello"}
collection.remove("hello") # one element are allowed
print(collection)

{1, 2, 4, 5, 6, 9}
{1, 2, 5, 6, 'world', 'python'}

In [ ]:
# clear method (return a empty set)


collection = {"hello",1,"world",2,5,6,"python","hello"}
collection.clear()
print(collection) #set()
print(len(collection)) #0

set()
0

In [ ]:
# pop method (delete a random value)

collection = {2,3,4,5,3,4,6,3,6}
print(collection.pop())

2

In [ ]:
# union method
set1 = {1,2,3,4}
set2 = {3,4,5,6}
print(set1.union(set2))
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4}
{3, 4, 5, 6}

In [ ]:
# intersection method
set1 = {1,2,3,4}
set2 = {3,4,5,6}
print(set1.intersection(set2))

{3, 4}

In [ ]:
# ques 1
dict = {
    "table": ["a piece of furniture", "lists of facts and figure"],
    "cat" : "a small animal"

}
print(dict)

{'table': ['a piece of furniture', 'lists of facts and figure'], 'cat': 'a small animal'}

In [ ]:
# ques 2
subjects = {"python","java","c++","python","javascript","java","python","java","c++","c"}
print(len(subjects))

5

In [ ]:
# ques 3
marks = {}
x= int(input("enter phy :"))
marks.update({"phy":x})
y= int(input("enter chem :"))
marks.update({"chem":y})
z= int(input("enter math :"))
marks.update({"math":z})
print(marks)

enter phy :90
enter chem :98
enter math :88
{'phy': 90, 'chem': 98, 'math': 88}

In [ ]:
# ques 4
st = {9,0,"9"}
print(st)

# 2nd method
values = {
    ("int :", 9),
    ("float" , 9.0)
}
print(values)

{0, 9, '9'}
{('float', 9.0), ('int :', 9)}